{%extends "shopingcart/base.html"%}
{%block title%}Home Page{%endblock%}
{%block body%}

<div class="card">
  <div class="card-header">
    Login :
  </div>
  <div class="card-body">
  	{% if error %}
    <p style="color: red;">{{error}}</p>
    {% endif %}
  	<form method="POST">
  		{% csrf_token %}
  		{{form.as_p}}
  		<br>
  		<a href="{% url 'shopingcart:register'%}">Register Here!!!</a>
  		<br>
  		<button type="submit" class="btn btn-primary">Login</button>
  	</form>
  </div>
</div>

{%endblock%}