{%extends "shopingcart/base.html"%}
{%block title%}Login Page{%endblock%}
{%block body%}

<div class="card">
  <div class="card-header">
    Login :
  </div>
  <div class="card-body">
    {% if error %}
    <p style="color: red;">{{error}}</p>
    {% endif %}
  	<form method="POST">
  		{% csrf_token %}
      <div class="form-group">
        <label>UserName:</label>
        <input type="text" name="Username" class="form-control form-control-sm" required="required">
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control form-control-sm" name="password" required="required">
      </div>
      <div class="form-group">
        <a href="{% url 'shopingcart:register'%}">Register Here!!!</a>
      </div>
  		<button type="submit" class="btn btn-primary">login</button>
  	</form>
  </div>
</div>

{%endblock%}